<!-- Map Rails Flash types to Bootstrap 4 style colors -->
<% flash_map = {success: 'success', notice: 'info', alert: 'warning', error: 'danger'}.with_indifferent_access %>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= flash_map[name] || name %> alert-dismissible fade show">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>
